
python/\.idea/

python/sketchable_interaction/__pycache__/

python/sketchable_interaction/__init__\.py

python/sketchable_interaction/interaction/__init__\.py

python/sketchable_interaction/environment/__pycache__/

python/sketchable_interaction/environment/__init__\.py

python/sketchable_interaction/interaction/__pycache__/

architecture_implementation_test_code/callback_test/python/\.idea/

architecture_implementation_test_code/callback_test/python/venv/

architecture_implementation_test_code/callback_test/python/\.pytest_cache/

architecture_implementation_test_code/callback_test/cpp/\.idea/

architecture_implementation_test_code/callback_test/cpp/cmake-build-debug/CMakeFiles/

architecture_implementation_test_code/callback_test/cpp/cmake-build-debug/cmake_install\.cmake

architecture_implementation_test_code/callback_test/cpp/cmake-build-debug/CMakeCache\.txt

architecture_implementation_test_code/callback_test/cpp/cmake-build-debug/cpp\.cbp

architecture_implementation_test_code/callback_test/cpp/cmake-build-debug/Makefile

architecture_implementation_test_code/callback_test/python/main\.py

architecture_implementation_test_code/callback_test/cpp/CMakeLists\.txt

application/\.idea/

application/__pycache__/

si_engine/core/\.idea/

si_engine/core/cmake-build-debug/CMakeFiles/

si_engine/core/cmake-build-debug/CMakeCache\.txt

si_engine/core/cmake-build-debug/core\.cbp

si_engine/core/cmake-build-debug/cmake_install\.cmake

si_engine/core/cmake-build-debug/Makefile

si_engine/core/cmake-build-debug/si_engine_test

si_engine/core/cmake-build-debug/si-core_autogen/

application/plugins/__pycache__/

application/venv/

si_engine/core/cmake-build-debug/unit_tests_run

application_android/\.idea/

application_android/android-sources/\.idea/

application_android/doc/src/qtandroidextras-example-notification\.qdoc

*.user

application_python/venv/

application_python/__pycache__/

application_python/\.idea/

application_python/plugins/__pycache__/

si_engine/core/cmake-build-debug/unit_tests_run_autogen/

si_engine/core/cmake-build-debug/lib/

si_engine/core/cmake-build-debug/CMakeDoxyfile\.in

si_engine/core/cmake-build-debug/CMakeDoxygenDefaults\.cmake

si_engine/core/cmake-build-debug/Doxyfile

si_engine/core/cmake-build-debug/googletest/

application_python/lib/__pycache__/

application_python/bin/libsi-core\.so

application_python/test/__pycache__/
